:root {
  --md-primary-fg-color: rgb(209, 89, 73);
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #90030c;
}

.md-content img {
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  padding: 5px;
  border-radius: 0.2rem;
}
